resume_created.tex
temp
.vscode
.env
.venv
.pytest*
*.pdf
results
resume.pdf
__pycache__
job_listings
cv_cache
*.aux
*.gz
linkedin_login.json
pp.py
*.log
node_modules
package-lock.json
diff.txt

cv_editing_react_app/frontend/my-app/node_modules
cv_editing_react_app/backend/cover_letter_files/cover_letter.pdf
cv_editing_react_app/backend/jobs.db
